<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="main.css" />
        <title>Vue course</title>
    </head>
    <body>
        <div id="app" v-cloak>
            <p>Hey!</p>
            <p>{{ message }}</p>

            <p><a :href="url" target="_blank">Google</a></p>
            <p v-html="raw_url"></p>
            <hr />

            <!-- /////////// NAME ////////// -->
            <label>First Name</label>
            <input type="text" v-model="firstName" />

            <label>Middle Name</label>
            <input type="text" @keyup.enter="updateMiddleName" />
            <br />
            <label>Last Name</label>
            <!-- <input type="text" v-model="lastName" /> -->
            <input type="text" :value="lastName" @input="updateLastName" />

            <label>Age</label>
            <input type="number" v-model="age" />

            <p>Type of age:{{ typeof age }}</p>

            <button type="button" @click="increment">Increment</button>
            <!-- <button type="button" v-on:click="increment">Increment</button> -->
            <button type="button" v-on:click="decrement">Decrement</button>
            <br />
            <!-- Passing on Data with Events -->
            <input
                type="text"
                :value="lastName"
                @input="updateLastName('Hahaha',$event)"
            />

            <input
                type="text"
                :value="lastName"
                @input.prevent="updateLastName('Hahaha',$event)"
            />

            <p>{{ firstName }} {{lastName }}</p>
            <h2>Full name:</h2>
            <p>{{ fullName}}</p>

            <hr />
        </div>
        <script src="http://unpkg.com/vue@3"></script>
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="app.js"></script>
    </body>
</html>
